<% if logged_in? %>
<% posts.each do |post| %>
    <div class="home"><main></main>
        <main>
            <div class="card">
                <div class="username_container">
                    <img src='<%=find_user_by_id(post["user_id"])["image_url"]%>'/>
                    <span class="username_post"><b><%=find_user_by_id(post["user_id"])["username"]%></b></span> 
                    <%# IF IT'S USER POST..ALLOW EDIT CLICK, IF NOT CLICK DOES NOTHING %>
                    <form id="edit_post_button" 
                    <% if post["user_id"] == session[:id] %>
                    action="/edit_post" method="get"
                    ><input type="hidden" name="id" value=<%=post["id"]%>>
                    <% else %>
                    action="" method=""
                    <% end %>
                        <button><a href="#/" style="margin-left: 10px;"><i class="fas fa-ellipsis-h"></i></i></a></button>
                    </form>
                </div>
                <img class="feed_image" src="<%=post["image_url"]%>">
                <div class="post_icons">
                    <a href="#/"><i class='arrowup fas fa-long-arrow-alt-up'></i></a>
                    <a href="#/"><i class='arrowdown fas fa-long-arrow-alt-down'></i></a> 
                    <a href="#/"><i class='far fa-comment'></i></a>
                    <a href="#/" class="float: right;"><i class='bookmark far fa-bookmark'></i></a>
                </div>
                <div class="description">
                    <p><b style="margin-right: 5px; font-family: Arial;"><%=find_user_by_id(post["user_id"])["username"]%></b><%=post["description"]%></p>
            <div></div>
                <% all_comments.each do |comment| %>
                    <% if comment["post_id"] == post["id"] %>
                        <p><b style="margin-right: 5px; font-family: Arial;"><%= find_user_by_id(comment["user_id"])["username"] %></b>
                        <%= comment["comment"] %></p>
                    <% end %>
                <% end %>   
            </div>
                <form action="/add_comment" method="post">
                    <div class="post_comment">
                        <input type="hidden" name="post_id" value="<%=post["id"].to_i%>">
                        <input type="hidden" name="user_id" value="<%=session[:id].to_i%>">
                        <input style="width:100%;" name="comments" type="text" placeholder="Add a comment.."> 
                        <button>Post</button>
                    </div>
                </form>
            </div>
        </main><main></main>
    </div>
<br>
<%end%>
<%end%>