<div>
    <div class="profile_section">
        <section>
            <div class="profile_image">
                <img src='
                <% if find_one_user_by_email(session[:user_email])["image_url"].length == 0 %>
                    https://www.w3schools.com/howto/img_avatar.png
                <% else %>
                    <%= find_one_user_by_email(session[:user_email])["image_url"] %>
                <% end %>
                '/>
            </div>
        </section>  
        <section class="profile_info">
        <main>
            <h2><%= find_one_user_by_email(session[:user_email])["username"] %></h2>
            <form action="/edit" method="get">
                <button><span>Edit</span></a></button>
            </form>
        </main>
            <div class="profile_stat">
                <span><b>1 </b> posts</span>
                <span><b>1 </b> followers</span>
                <span><b>1 </b> following</span>
            </div>
            <h3><%= titleize(find_one_user_by_email(session[:user_email])["name"]) %></h3>
            <p><% if find_one_user_by_email(session[:user_email])["bio"].length == 0 %>
                    <b>PLEASE ADD A BIO</b><br> 
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus eveniet recusandae quos adipisci accusantium, veniam illum temporibus earum dolore aliquam, labore reiciendis ratione, voluptatibus distinctio quam. Incidunt, quod quasi.
                <% else %>
                    <%= find_one_user_by_email(session[:user_email])["bio"] %>
                <% end %>
            </p>
            <%# <p><b><a href="github.com/minhvuong1">github.com/<%= find_one_user_by_email(session[:user_email])["username"] %></a></b></p> 
        </section>  
    </div>
    <div class="profile_photos">
        <% (0..10).each do |num| %> 
            <div>
                <div class="photo_cell"></div>
            </div>
        <% end %>   
    </div>
</div>

